# .NET Build
[Bb]in/
[Oo]bj/

# Rider IDE (только личные настройки)
.idea/
.rider/
*.suo
*.user
*.userosscache
*.DotSettings.user
*.sln.docstates

# Test outputs (xUnit)
TestResults/
*.trx
*.coverage

# Local configs & secrets
appsettings.*.local.json
*.env
*.env.local
